<%#
  Card component inspired by Shadcn UI
  Usage: render 'shared/components/card', classes: 'custom-class' do ... end
%>
<% 
  classes ||= ''
  padding ||= 'p-6'
  
  base_classes = "rounded-lg border border-gray-200 bg-white shadow-sm"
  all_classes = "#{base_classes} #{padding} #{classes}"
%>

<div class="<%= all_classes %>">
  <%= yield %>
</div>